@media (max-width: 576px) {
    #main-container > div > div > img{
        width: 30%;
        border: 1px solid red;
    }
    #main-container > div > div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main-container > div > div + div > p{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    #main-container > div > div + div > p:nth-child(2n){
        color:red
    }
}
